{{#bootstrap/bs-modal id=modalId onClose=onClose as |modal|}}
  {{#modal.body}}
    <div style={{posterImageStyle}} class="reaction-poster">
      <div class="reaction-overlay">
        <div class="reaction-content">
          <div class="reaction-header">
            <span class="reaction-media-title">{{media.yearlessTitle}}</span>
            <span class="reaction-media-year">{{media.year}}</span>
          </div>
        </div>
      </div>

      {{! Ratings }}
      <div class="rate-actions">
        <button class="button button--small button--dark-outline skip-button" {{action "onSkip"}}>
          {{t "reaction-modal.skip"}}
        </button>
        <div class="rate-icons">
          {{library-entry/simple-rating onClick=(action "onRating")}}
        </div>
      </div>
    </div>
  {{/modal.body}}
{{/bootstrap/bs-modal}}