<div class="is-sticky">
  <div class="card">
    <div class="profile-strength">
      <span class="strength-header">
        {{t "recommendations.sidebar.header" type=namespace}}
      </span>
      <span class="strength-percent">
        {{profileStrength}}%
      </span>
    </div>

    <div class="rate-media-cta">
      <button class="button button--primary">
        {{t "recommendations.sidebar.rate-more" type=namespace}}
      </button>
    </div>

    <div class="category-recommendations">
      <span class="category-header">
        {{t "recommendations.sidebar.category-header"}}
      </span>
      <ul class="list-unstyled">
        {{#if categoryTask.isRunning}}
          {{! @TODO: Loading... }}
        {{else}}
          {{#each categoryTask.value as |favorite|}}
            {{#with favorite.category as |category|}}
              <li class="category-list-item">
                <a href={{href-to "recommendations.more" category.slug}}>
                  {{category.title}}
                </a>
                <span class="media-count">0</span>
              </li>
            {{/with}}
          {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>

  <div class="text-xs-center recommenations-help">
    <p>How to improve your recommendations</p>
  </div>
</div>